/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}
.authorBg {
  background-image: url("../assets/bg/p.png");
  background-size: 100%;
  background-attachment: fixed;
  /* background-repeat: repeat; */
  /* background-blend-mode: multiply; */
  
}


.profile12{
  position: relative;
}
.search12{
  position: relative;
  left: 700px;
  border-radius: 8px;
  padding: 3px;
}
.lable12{
  position: relative;
  font-size: 20px;
  top: 16px;
  left: 154px;
  /* color: rgb(182 151 239); */
  text-transform: uppercase;
  font-style: bold;
  font-weight: bolder;
  color: #2e2424;
  font-family: 'Tektur', cursive;
}
.navbar12{
  height: 104px;
  display: flex;
  align-items: center;
  position: relative;
  left: 289px;
  top: 24px;
  background-color: #c0cee3;
  width: 1113px;
 
}
#logoutBtn {
  width: 38px;
  position: relative;
  top: 10vh;
}
.table11{
    position: absolute;
    left: 61vh;
    top: 136vh;
    width: 125px;
}
.sidebar12{
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 115px;
  height: 100vh;
  padding: 0 1.7rem;
  color: #fff;
  overflow: hidden;
  transition: all 0.5s linear;
  background: rgb(34 58 89);
}
.pic12{
  position: fixed;
  top: 34hv;
  object-fit: contain;
  left: 56px;
  height: 33px;
  top: 158px;
  border-radius: 29px;
}
.pic13{
  position: fixed;
  top: 34hv;
  object-fit: contain;
  left: 56px;
  height: 33px;
  top: 320px;
  border-radius: 16px;
}
.pic14{
  position: fixed;
  top: 34hv;
  object-fit: contain;
  left: 56px;
  height: 39px;
  top: 500px;
  border-radius: 19px
}
.sidebar12:hover{
  width: 240px;
  transition: 0.5s;
}
.main12{
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}
li{
  align-items: center;
}

.main12 li {
  padding: 1rem;
  margin: 100px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

li {
  height: 6vh;
}
/* .menu12 li:hover{
  background: #e0e0e058;
  border-radius: 24px;
} */

.menu12 .link{
  color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: 58px;
    margin-top: 122px;
}
body{
  background-color: whitesmoke ;
}
.container99{
  display: flex;
  width: 1200px;
  margin: auto;
}
.leftSide {
  position: relative;
  width: 50%; /* Adjust the width as desired */
  padding: 10px; /* Adjust the padding as desired */
}


.navbar99{
  width: 80%;
  margin: 0 auto;
}

.logo99{
  margin: 2rem 0 1rem 0;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
}
.logo99 img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.logo99 h1{
  margin-left: 1rem;
  text-transform: uppercase;
}

ul{
  margin: 0 auto;
}
li{
  padding-bottom: 2rem;
}
li a{
  font-size: 16px;
  color: rgb(85, 83, 83);
}

nav i{
  width: 50px;
  font-size: 18px;
  text-align: center;
}

.logout99{
  position: absolute;
  bottom: 20px;
}

/* Main Section */
.main99{
  width: 100%;
}
.main-top99{
  width: 100%;
  background: #fff;
  
  padding: 10px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(43, 43, 43);
}
.main-body99{
  padding: 10px 10px 10px 20px;
}
h1{
  margin: 20px 10px;
}

.box199{
  position: relative;
  top: 8vh;
  left: 18vh;
  background-color: #dfb7c6;
  width: 75vh;
  border-radius: 48px;
}
.container199 {
  width: 348px;
  position: relative;
  top: -1vh;
  left: 18vh;
}
header{color: #fff;
font-size: 30px;
display: flex;
justify-content: center;
padding:10px 0 10px 0;}


.input-field99{
    display: flex;
    flex-direction: column;
}
.input99{
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding:0 0 0 45px;
    padding: 10px;
    background: rgb(255 255 255 / 34%);
}
.input999{
  top: 4vh;
  left: 1vh;
  height: 45px;
  position: relative;
  width: 87%;
  border: none;
  outline: none;
  border-radius: 30px;
  color: #2c2727;
  padding: 0 0 0 45px;
  padding: 10px;
  background: #75849114;
}
.bio99{
  position: relative;
  left: 7vh;
}
.name99{
  position: relative;
  left: 4vh;
}

.submit99{
    border:none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
    transition: .3s;
}

.submit99:hover{
    box-shadow: 1px 5px 7px 1px rgba(0,0,0,0.2);
}

table {
     border-collapse: collapse;
     width: 37%;
     position: relative;
     left: -23vh;
     top: 8vh;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .table199 {
    position: relative;
    top: -35vh;
    left: 116vh;
    background-color: lightgray;
    height: 88vh;
    width: 67vh;
    border-radius: 35px;
}

  .update99{
    position: relative;
    border-radius: 9px;
    left: -96vh;
    top: 72vh;
    justify-content: center;
    background-color: lightgrey;
  }

.notess{
  line-height: 15px;
  position: relative;
  left: 5vh;
  top: 2vh;
  text-transform: uppercase;
  font-size: 22px;
  color: black;
}
.themee {
  position: relative;
  left: -40vh;
  top: -2vh;
  width: 6pc;
  height: 40px;
}
.dark body {
  background-color: #233c52;
  color: #ffffff;
}
dark-mode {
  /* Your dark mode styles go here */
  background-color: black;
  color: white;}
  .info {
    background-color: #e7f3fe;
    border-left: 13px solid #2196F3;
    position: relative;
    top: 8vh;
    width: 72vh;
    left: 105vh;
    height: 31vh;
    border-radius: 30px;
  }

    #formCrud12 {
      padding: 29px;
      color: whitesmoke;
      /* max-width: 378px;
      position: relative;
      left: -28vh;
      top: -85vh;
      display: flex;
      justify-content: center;
      background-color: #e2eefb;
      height: 304px;
      border-radius: 32px; */
      max-width: 378px;
      position: relative;
      left: -28vh;
      top: -85vh;
      display: flex;
      justify-content: center;
      height: 304px;
      border-radius: 32px;

      background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(100px);
      border-radius: 20px;
      border:1px solid rgba(255, 255, 255, 0.18);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
  
  .smallButton {
    font-size: 12px;
    padding: 6px 12px;
    margin-right: 8px;
  }
  
  input{
    border-radius: 25px;
  }

  #EditDelete {
    position: relative;
    left: 10vh;
    top: 4vh;
}
.edit12{
  padding: -12px;
  position: absolute;
  top: 27vh;
  left: 114vh;
  width: 44vh;
  height: 36vh;
  border-radius: 20px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.table12{
  position: relative;
  top: -73vh;
  left: 61vh;
  background-color: brown;
  width: 0px;
}
.Add12 {

}
.sub11{
  position: relative;
    width: 10vh;
}
.Delte19{
  position: relative;
    width: 10vh;
    top: -47.2px;
    left: 1vh;

}
.Edit19{
  position: relative;
    width: 10vh;
    top: 3vh;
    left: -11vh;
}
.color99{
  position: relative;
  color: whitesmoke;
}
.iddd{
  position: relative;
  top: -4vh;}

  #ajdi{

    position: relative;
    top: 1vh;  }